[package]
name = "predicates"
version = "0.5.2"
authors = ["Nick Stevens <nick@bitcurry.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["predicate", "boolean", "combinatorial", "match", "logic"]
repository = "https://github.com/assert-rs/predicates-rs"
homepage = "https://github.com/assert-rs/predicates-rs"
documentation = "https://docs.rs/predicates"
description = """
An implementation of boolean-valued predicate functions.
"""
categories = ["data-structures", "rust-patterns"]

[badges]
travis-ci = { repository = "assert-rs/predicates-rs" }
appveyor = { repository = "assert-rs/predicates-rs" }

[dependencies]
difference = { version = "2.0", optional = true }
regex = { version="1.0", optional = true }
float-cmp = { version="0.4", optional = true }

[features]
default = ["difference", "regex", "float-cmp"]
unstable = []
