[workspace]
members = ["predicates-core", "predicates-tree"]

[package]
name = "predicates"
version = "1.0.0"
authors = ["Nick Stevens <nick@bitcurry.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["predicate", "boolean", "combinatorial", "match", "logic"]
repository = "https://github.com/assert-rs/predicates-rs"
homepage = "https://github.com/assert-rs/predicates-rs"
documentation = "https://docs.rs/predicates"
description = """
An implementation of boolean-valued predicate functions.
"""
categories = ["data-structures", "rust-patterns"]

[badges]
travis-ci = { repository = "assert-rs/predicates-rs" }
appveyor = { repository = "assert-rs/predicates-rs" }

[dependencies]
predicates-core = { version = "1.0", path = "predicates-core" }
difference = { version = "2.0", optional = true }
normalize-line-endings = { version = "0.2.2", optional = true }
regex = { version="1.0", optional = true }
float-cmp = { version="0.4", optional = true }

[dev-dependencies]
predicates-tree = { version = "1.0", path = "predicates-tree" }

[features]
default = ["difference", "regex", "float-cmp", "normalize-line-endings"]
unstable = []
