[package]
name = "predicates"
version = "0.1.0"
authors = ["Nick Stevens <nick@bitcurry.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["predicate", "boolean", "combinatorial", "match", "logic"]
repository = "https://github.com/nastevens/predicates-rs"
homepage = "https://github.com/nastevens/predicates-rs"
documentation = "https://docs.rs/predicates"
description = """
An implementation of boolean-valued predicate functions.
"""
categories = ["data-structures", "rust-patterns"]

[badges]
travis-ci = { repository = "nastevens/predicates-rs" }
appveyor = { repository = "nastevens/predicates-rs" }

[dependencies]

[features]
default = []
unstable = []
